body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #E6EDF5;
    color: #0966C2;
}

h1 {
    font-size: 45pt;
    margin: 0;
    margin-left: 20px;
}

.venue-welcome{
    margin-left: 20px;
}