.item {
    border: 2px solid #0966C2;
    background-color: #E6EDF5;
    color: #0966C2;
    margin: 10px;
    list-style: none;
}

.view-button {
    border-radius: 5px;
    text-decoration: none;
    align-content: space-between;
    padding: 3px;
    background-color: #9EA3A8;
    color: #0966C2;
    margin-left: 10px;
}